{% extends "base.html" %}
{% load socialaccount %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 60px;
        }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }

    </style>

    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class='btn btn-default' value="Login">
        </form>

        <label>    </label>
        OR Continue with
        <a href="{% provider_login_url 'google' %}"><img class="card-img-top" src="{% static 'images/google.png' %}">Google</a>
        <p><a href="{% url 'accounts:password_reset' %}">forgot password?</a></p>
    </div>
{% endblock %}