body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#8693AB), to(#BDD4E7));
    background: linear-gradient(to right, #8693AB, #BDD4E7);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 150px;
}



h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
    font-size: 14px;
}
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}


.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}


.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.m-t-20 {
    margin-top: 3px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.buttons button:nth-child(1){
       border:1px solid #8693AB !important;
       color:#8693AB;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #8693AB !important;
       color:#fff;
       height:40px;
       background-color:#BDD4E7;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.button_save{
    border:1px solid green !important;
    color: #008631;
    height:40px;
    background-color: #83f28f;
}
.button_save:hover{
    border:1px solid #8693AB !important;
    color:white;
    height:40px;
    background-color: #00ab41;
}

.button_cancel{
    border:1px solid red !important;
    color:#ff0000;
    height:40px;
    background-color: #ff8080;
}


.button_cancel:hover{
    border:1px solid red !important;
    color:white;
    height:40px;
    background-color: #ff1919;
}